<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.td_link {
	cursor:pointer;
}
</style>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>고유키</th>
				<th>이름</th>
				<th>비밀번호</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${userList}">
				<td class="td_link" th:text="${user._id}" th:onclick="|location.href='@{/user/update(id=${user._id})}'|"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.pw}"></td>
				<td class="td_link" th:text="삭제" th:onclick="|location.href='@{/user/delete(id=${user._id})}'|"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>